In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [ ]:
Unemployment_df = pd.read_csv("/content/Unemployment in India.csv")

In [ ]:
Unemployment_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Unemployment_df.fillna(0,inplace=True)

In [ ]:
Unemployment_df[' Date'] =pd.to_datetime(Unemployment_df[' Date'])

In [ ]:
Unemployment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    768 non-null    object
 1    Date                                     768 non-null    datetime64[ns]
 2    Frequency                                768 non-null    object
 3    Estimated Unemployment Rate (%)          768 non-null    float64
 4    Estimated Employed                       768 non-null    float64
 5    Estimated Labour Participation Rate (%)  768 non-null    float64
 6   Area                                      768 non-null    object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 42.1+ KB

In [ ]:
pd.set_option('display.max_columns', None)
Unemployment_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
763,0,1970-01-01,0,0.00,0.0,0.00,0
764,0,1970-01-01,0,0.00,0.0,0.00,0
765,0,1970-01-01,0,0.00,0.0,0.00,0
766,0,1970-01-01,0,0.00,0.0,0.00,0
767,0,1970-01-01,0,0.00,0.0,0.00,0

In [ ]:
print(list(Unemployment_df))

['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)', ' Estimated Employed', ' Estimated Labour Participation Rate (%)', 'Area']

In [ ]:
Unemployment_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
763,0,1970-01-01,0,0.00,0.0,0.00,0
764,0,1970-01-01,0,0.00,0.0,0.00,0
765,0,1970-01-01,0,0.00,0.0,0.00,0
766,0,1970-01-01,0,0.00,0.0,0.00,0
767,0,1970-01-01,0,0.00,0.0,0.00,0

In [ ]:
group_by_region_df= Unemployment_df.groupby(by='Region').mean().sort_values(by=' Estimated Unemployment Rate (%)',ascending=False)
group_by_region_df

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
Region,,,
Tripura,28.350357,7.170026e+05,61.823929
Haryana,26.283214,3.557072e+06,42.737143
Jharkhand,20.585000,4.469240e+06,41.670714
Bihar,18.918214,1.236619e+07,38.153929
Himachal Pradesh,18.540357,1.059824e+06,44.222143
Delhi,16.495357,2.627513e+06,38.929643
Jammu & Kashmir,16.188571,1.799932e+06,41.030952
Chandigarh,15.991667,3.168312e+05,39.336667
Rajasthan,14.058214,1.004106e+07,39.973214
Uttar Pradesh,12.551429,2.809483e+07,39.432500
Punjab,12.031071,4.539362e+06,41.138214
Puducherry,10.215000,2.122781e+05,38.992692
Kerala,10.123929,4.425900e+06,34.867857
Tamil Nadu,9.284286,1.226955e+07,40.872143
Goa,9.274167,2.263083e+05,39.249583
Chhattisgarh,9.240357,4.303499e+06,42.810714
West Bengal,8.124643,1.719854e+07,45.417500
Telangana,7.737857,7.939663e+06,53.002500
Maharashtra,7.557500,1.999020e+07,42.303214
Andhra Pradesh,7.477143,8.154093e+06,39.375714
Madhya Pradesh,7.406429,1.111548e+07,38.821429
Sikkim,7.249412,1.068807e+05,46.070000
Karnataka,6.676071,1.066712e+07,41.345357
Gujarat,6.663929,1.140201e+07,46.101071
Uttarakhand,6.582963,1.390228e+06,33.775556
Assam,6.428077,5.354772e+06,44.868462
Odisha,5.657857,6.545747e+06,38.926429
Meghalaya,4.798889,6.897368e+05,57.080741
0,0.000000,0.000000e+00,0.000000

In [ ]:
unemp_state_df= Unemployment_df[Unemployment_df.Region=='Maharashtra']
unemp_state_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
189,Maharashtra,2019-05-31,Monthly,3.67,23896858.0,47.11,Rural
190,Maharashtra,2019-06-30,Monthly,4.34,23056511.0,45.69,Rural
191,Maharashtra,2019-07-31,Monthly,3.66,24843750.0,48.80,Rural
192,Maharashtra,2019-08-31,Monthly,3.76,26835389.0,52.67,Rural
193,Maharashtra,2019-09-30,Monthly,4.40,25219281.0,49.74,Rural
194,Maharashtra,2019-10-31,Monthly,3.81,24330249.0,47.61,Rural
195,Maharashtra,2019-11-30,Monthly,3.68,24881383.0,48.53,Rural
196,Maharashtra,2019-12-31,Monthly,3.03,26357625.0,50.98,Rural
197,Maharashtra,2020-01-31,Monthly,3.80,25881398.0,50.36,Rural
198,Maharashtra,2020-02-29,Monthly,4.24,25293535.0,49.36,Rural
199,Maharashtra,2020-03-31,Monthly,5.38,23130976.0,45.60,Rural
200,Maharashtra,2020-04-30,Monthly,25.28,15014802.0,37.42,Rural
201,Maharashtra,2020-05-31,Monthly,16.89,18423447.0,41.21,Rural
202,Maharashtra,2020-06-30,Monthly,9.40,23601016.0,48.34,Rural
575,Maharashtra,2019-05-31,Monthly,6.08,16962574.0,38.30,Urban
576,Maharashtra,2019-06-30,Monthly,6.46,17375053.0,39.30,Urban
577,Maharashtra,2019-07-31,Monthly,6.35,17215677.0,38.81,Urban
578,Maharashtra,2019-08-31,Monthly,7.57,16602767.0,37.84,Urban
579,Maharashtra,2019-09-30,Monthly,7.60,17396398.0,39.58,Urban
580,Maharashtra,2019-10-31,Monthly,7.51,17221991.0,39.05,Urban
581,Maharashtra,2019-11-30,Monthly,7.60,17486683.0,39.61,Urban
582,Maharashtra,2019-12-31,Monthly,7.83,16581144.0,37.57,Urban
583,Maharashtra,2020-01-31,Monthly,6.67,16715470.0,37.32,Urban
584,Maharashtra,2020-02-29,Monthly,5.34,17122782.0,37.61,Urban
585,Maharashtra,2020-03-31,Monthly,6.34,17065830.0,37.80,Urban
586,Maharashtra,2020-04-30,Monthly,14.99,12674451.0,30.86,Urban
587,Maharashtra,2020-05-31,Monthly,15.92,12365754.0,30.38,Urban
588,Maharashtra,2020-06-30,Monthly,10.01,16172690.0,37.04,Urban

In [ ]:
unemp_state_df[' Estimated Unemployment Rate (%)'].mean()

7.557499999999999

In [ ]:
group_by_region_df.sort_values(by=' Estimated Unemployment Rate (%)',ascending=False)

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
Region,,,
Tripura,28.350357,7.170026e+05,61.823929
Haryana,26.283214,3.557072e+06,42.737143
Jharkhand,20.585000,4.469240e+06,41.670714
Bihar,18.918214,1.236619e+07,38.153929
Himachal Pradesh,18.540357,1.059824e+06,44.222143
Delhi,16.495357,2.627513e+06,38.929643
Jammu & Kashmir,16.188571,1.799932e+06,41.030952
Chandigarh,15.991667,3.168312e+05,39.336667
Rajasthan,14.058214,1.004106e+07,39.973214
Uttar Pradesh,12.551429,2.809483e+07,39.432500
Punjab,12.031071,4.539362e+06,41.138214
Puducherry,10.215000,2.122781e+05,38.992692
Kerala,10.123929,4.425900e+06,34.867857
Tamil Nadu,9.284286,1.226955e+07,40.872143
Goa,9.274167,2.263083e+05,39.249583
Chhattisgarh,9.240357,4.303499e+06,42.810714
West Bengal,8.124643,1.719854e+07,45.417500
Telangana,7.737857,7.939663e+06,53.002500
Maharashtra,7.557500,1.999020e+07,42.303214
Andhra Pradesh,7.477143,8.154093e+06,39.375714
Madhya Pradesh,7.406429,1.111548e+07,38.821429
Sikkim,7.249412,1.068807e+05,46.070000
Karnataka,6.676071,1.066712e+07,41.345357
Gujarat,6.663929,1.140201e+07,46.101071
Uttarakhand,6.582963,1.390228e+06,33.775556
Assam,6.428077,5.354772e+06,44.868462
Odisha,5.657857,6.545747e+06,38.926429
Meghalaya,4.798889,6.897368e+05,57.080741
0,0.000000,0.000000e+00,0.000000

In [ ]:
maharashtra_df = Unemployment_df.loc[Unemployment_df['Region'] == 'Maharashtra']

In [ ]:
maharashtra_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
189,Maharashtra,2019-05-31,Monthly,3.67,23896858.0,47.11,Rural
190,Maharashtra,2019-06-30,Monthly,4.34,23056511.0,45.69,Rural
191,Maharashtra,2019-07-31,Monthly,3.66,24843750.0,48.80,Rural
192,Maharashtra,2019-08-31,Monthly,3.76,26835389.0,52.67,Rural
193,Maharashtra,2019-09-30,Monthly,4.40,25219281.0,49.74,Rural
194,Maharashtra,2019-10-31,Monthly,3.81,24330249.0,47.61,Rural
195,Maharashtra,2019-11-30,Monthly,3.68,24881383.0,48.53,Rural
196,Maharashtra,2019-12-31,Monthly,3.03,26357625.0,50.98,Rural
197,Maharashtra,2020-01-31,Monthly,3.80,25881398.0,50.36,Rural
198,Maharashtra,2020-02-29,Monthly,4.24,25293535.0,49.36,Rural
199,Maharashtra,2020-03-31,Monthly,5.38,23130976.0,45.60,Rural
200,Maharashtra,2020-04-30,Monthly,25.28,15014802.0,37.42,Rural
201,Maharashtra,2020-05-31,Monthly,16.89,18423447.0,41.21,Rural
202,Maharashtra,2020-06-30,Monthly,9.40,23601016.0,48.34,Rural
575,Maharashtra,2019-05-31,Monthly,6.08,16962574.0,38.30,Urban
576,Maharashtra,2019-06-30,Monthly,6.46,17375053.0,39.30,Urban
577,Maharashtra,2019-07-31,Monthly,6.35,17215677.0,38.81,Urban
578,Maharashtra,2019-08-31,Monthly,7.57,16602767.0,37.84,Urban
579,Maharashtra,2019-09-30,Monthly,7.60,17396398.0,39.58,Urban
580,Maharashtra,2019-10-31,Monthly,7.51,17221991.0,39.05,Urban
581,Maharashtra,2019-11-30,Monthly,7.60,17486683.0,39.61,Urban
582,Maharashtra,2019-12-31,Monthly,7.83,16581144.0,37.57,Urban
583,Maharashtra,2020-01-31,Monthly,6.67,16715470.0,37.32,Urban
584,Maharashtra,2020-02-29,Monthly,5.34,17122782.0,37.61,Urban
585,Maharashtra,2020-03-31,Monthly,6.34,17065830.0,37.80,Urban
586,Maharashtra,2020-04-30,Monthly,14.99,12674451.0,30.86,Urban
587,Maharashtra,2020-05-31,Monthly,15.92,12365754.0,30.38,Urban
588,Maharashtra,2020-06-30,Monthly,10.01,16172690.0,37.04,Urban

In [ ]:
maharashtra_2020=maharashtra_df.loc[unemp_state_df[' Date'].dt.year == 2020]

In [ ]:
maharashtra_2020[' Estimated Unemployment Rate (%)'].mean()

10.355

In [ ]:
maharashtra_2020.sort_values(by=' Estimated Unemployment Rate (%)',ascending=False).head(1)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
200,Maharashtra,2020-04-30,Monthly,25.28,15014802.0,37.42,Rural

In [ ]:
Unemployment_df['year'] = pd.DatetimeIndex(Unemployment_df[' Date']).year
Unemployment_df['month'] = pd.DatetimeIndex(Unemployment_df[' Date']).month

In [ ]:
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
maharashtra_df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
189,Maharashtra,2019-05-31,Monthly,3.67,23896858.0,47.11,Rural
190,Maharashtra,2019-06-30,Monthly,4.34,23056511.0,45.69,Rural
191,Maharashtra,2019-07-31,Monthly,3.66,24843750.0,48.80,Rural
192,Maharashtra,2019-08-31,Monthly,3.76,26835389.0,52.67,Rural
193,Maharashtra,2019-09-30,Monthly,4.40,25219281.0,49.74,Rural
194,Maharashtra,2019-10-31,Monthly,3.81,24330249.0,47.61,Rural
195,Maharashtra,2019-11-30,Monthly,3.68,24881383.0,48.53,Rural
196,Maharashtra,2019-12-31,Monthly,3.03,26357625.0,50.98,Rural
197,Maharashtra,2020-01-31,Monthly,3.80,25881398.0,50.36,Rural
198,Maharashtra,2020-02-29,Monthly,4.24,25293535.0,49.36,Rural
199,Maharashtra,2020-03-31,Monthly,5.38,23130976.0,45.60,Rural
200,Maharashtra,2020-04-30,Monthly,25.28,15014802.0,37.42,Rural
201,Maharashtra,2020-05-31,Monthly,16.89,18423447.0,41.21,Rural
202,Maharashtra,2020-06-30,Monthly,9.40,23601016.0,48.34,Rural
575,Maharashtra,2019-05-31,Monthly,6.08,16962574.0,38.30,Urban
576,Maharashtra,2019-06-30,Monthly,6.46,17375053.0,39.30,Urban
577,Maharashtra,2019-07-31,Monthly,6.35,17215677.0,38.81,Urban
578,Maharashtra,2019-08-31,Monthly,7.57,16602767.0,37.84,Urban
579,Maharashtra,2019-09-30,Monthly,7.60,17396398.0,39.58,Urban
580,Maharashtra,2019-10-31,Monthly,7.51,17221991.0,39.05,Urban
581,Maharashtra,2019-11-30,Monthly,7.60,17486683.0,39.61,Urban
582,Maharashtra,2019-12-31,Monthly,7.83,16581144.0,37.57,Urban
583,Maharashtra,2020-01-31,Monthly,6.67,16715470.0,37.32,Urban
584,Maharashtra,2020-02-29,Monthly,5.34,17122782.0,37.61,Urban
585,Maharashtra,2020-03-31,Monthly,6.34,17065830.0,37.80,Urban
586,Maharashtra,2020-04-30,Monthly,14.99,12674451.0,30.86,Urban
587,Maharashtra,2020-05-31,Monthly,15.92,12365754.0,30.38,Urban
588,Maharashtra,2020-06-30,Monthly,10.01,16172690.0,37.04,Urban

In [ ]:
years=list(set(list(Unemployment_df[' Date'].dt.year)))
gbyyear_df=Unemployment_df.groupby(by='year')
mean_Unemployment_rate_overall =list(gbyyear_df[' Estimated Unemployment Rate (%)'].mean())

In [ ]:
mean_Unemployment_rate_overall

[0.0, 9.399046511627906, 15.10158064516129]

In [ ]:
sns.set_style("darkgrid")
plt.plot(years, mean_Unemployment_rate_overall, 's-b')
plt.xlabel('year')
plt.ylabel('mean_Unemployment_rate_overall(%)')
plt.title("Unemployment rate by Year")